<div class="max-w-7xl mx-auto px-4 py-8">
  @if (cartItems.length > 0) {
    <z-card
      class="w-full"
      zTitle="Votre Panier"
      zDescription="Découvrez les magnifiques formations que vous allez acheter"
    >
      <div class="space-y-4">
        @for (item of cartItems; track item.course.id) {
          <div class="flex items-center justify-between p-4 border-b">
            <div class="flex-1">
              <h3 class="font-semibold">{{ item.course.name }}</h3>
              <p class="text-sm">{{ item.course.description }}</p>
            </div>
            <div class="flex items-center gap-4">
              <span class="font-bold text-primary">{{ item.course.price | currency: 'EUR' }}</span>
              <span class="">x{{ item.quantity }}</span>
              <z-button zType="destructive" (click)="removeItem(item)" class="transition-colors">
                <z-icon zType="x" />
              </z-button>
            </div>
          </div>
        }
      </div>
      <div class="w-full justify-end flex px-4 py-4">
        <p class="text-xl font-bold font-sans">Total: {{ total | currency: 'EUR' }}</p>
      </div>
      <div class="flex justify-between items-center">
        <z-button zType="outline" (click)="clearCart()">Vider le panier</z-button>

        <div>
          <z-button zType="default">
            <a [routerLink]="['/checkout']">Passer à la caisse</a>
          </z-button>
        </div>
      </div>
    </z-card>
  } @else {
    <div class="text-center py-12">
      <p class="text-lg">Votre panier est vide</p>
      <a
        [routerLink]="['/courses']"
        class="mt-4 inline-block bg-purple-600 text-white px-6 py-2 rounded-lg hover:bg-purple-700 transition-colors"
      >
        Continuer vos achats
      </a>
    </div>
  }
</div>
